.button {
  font-family: inherit;
  padding: 0.5em 2em;
  border: none;
  border-radius: 0.375em;
  background-color: white;
  color: black;
  cursor: pointer;
  box-shadow: -8px 0px 20px rgba(5, 162, 194, 0.3),
    0px 0px 20px rgba(112, 225, 200, 0.3), 8px 0px 20px rgba(255, 178, 36, 0.3);

  &:disabled {
    pointer-events: none;
    background-color: rgba($color: white, $alpha: 0.5);
  }
}
