@import 'sass-mq';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 6rem 2rem;

  @include mq($until: 750px) {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
  }

  h1 {
    font-size: 48px;
  }

  p {
    margin: 1em 0 2em 0;
    font-size: 24px;
  }
}

.cta {
  position: relative;
  display: flex;
  gap: 0.5em;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.key {
  display: inline-flex;
  height: 22px;
  width: 22px;
  user-select: none;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  background-color: white;
  color: black;
  margin: 0 5px 0 0;

  &:last-child {
    margin: 0 0 0 5px;
  }
}
